body {
    font-family: Arial;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(135deg, #667eea, #764ba2);
    color: white;
}

form {
    margin: 20px;
}

input {
    padding: 10px;
    font-size: 1rem;
}

button {
    padding: 10px 15px;
    cursor: pointer;
    margin: 5px;
}

.movieCard {
    background: rgba(0,0,0,0.25);
    backdrop-filter: blur(8px);
    padding: 20px;
    margin-top: 20px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    text-align: center;
}

img {
    width: 100%;
    border-radius: 10px;
}

@media (max-width: 600px) {

    body {
        padding: 10px;
    }

    input {
        width: 90%;
        font-size: 1rem;
    }

    button {
        width: 90%;
        font-size: 1rem;
    }

    .movieCard {
        width: 90%;
        padding: 15px;
    }

    img {
        width: 100%;
    }
}